# These Unity3D ignores require Meta-Data to be turned on (Enable Meta files in Edit->Project Settings->Editor) http://docs.unity3d.com/Documentation/Manual/ExternalVersionControlSystemSupport.html
*.userprefs
*.pidb
*.unityproj
.DS_Store
/Library/
/[Oo]bj/
/[Tt]emp/

# VisualStudio specific files
*.sln
*.csproj

# Version control of Unity3D asset files require enabling "Force Text" of pro version